.movieSearch {
    height: 100vh;
    overflow-y: scroll;
    scrollbar-width: none;
}
.movieSearch::-webkit-scrollbar {
    display: none;
}

.header {
    position: relative;
    height: 280px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.headerBackground {
    width: 100%;
    height: 280px;
    position: absolute;
    left: 0;
    top: 0;
    overflow: hidden;
    z-index: 1;
}
.headerBackground__image {
    width: 100%;
}

.headerTitle {
    color: white;
    text-align: center;
    font-size: 40px;
    letter-spacing: 0.09em;
    font-weight: 500;
    z-index: 100;
}

.searchBar {
    width: 80%;
    max-width: 600px;
    height: 60px;
    background-color: white;
    z-index: 100;
    margin: 20px 0;
    display: flex;
    justify-content: space-between;
    border-radius: 50px;
    overflow: hidden;
    padding: 4px 16px;
}
.searchBar__input {
    width: 100%;
    border: none;
    font-size: 16px;
    font-weight: 400;
}
.searchBar__input:active,
.searchBar__input:focus {
    outline: 0;
}

.searchBar__button {
    width: 40px;
    background: transparent;
    border: none;
    cursor: pointer;
}
.searchBar__button > .MuiSvgIcon-root {
    font-size: 32px;
    transition: all 300ms ease;
}
.searchBar__button:hover .MuiSvgIcon-root {
    color: var(--movie-color);
}

/* .headerBackground {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    height: 300px;
    width: 100%;
    overflow-y: hidden;
}
.headerBackground__image {
    width: 100%;
} */

.searchResults {
    /* height: calc(100vh - 400px); */
    /* overflow-y: scroll; */
}
.searchResults__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.searchResults__header > h1 {
    margin: 40px 0 20px 20px;

}
/* .searchResults::-webkit-scrollbar {
    display: none;
}
.searchResults {
    scrollbar-width: 0;
} */
.searchResults__container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 100%;
}

.movies__noResult {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100%;
    padding: 12px;
}
.movies__noResult > img {
    margin: 12px 0;
    max-width: 480px;
}

.loadingIcon {
    text-align: center;
    margin-top: 40px;
}

/* skeleton loading state */

.loadingIcon > .MuiSvgIcon-root {
    font-size: 64px;
    color: var(--movie-color);
    animation: rotate 800ms infinite linear;
}

@keyframes rotate {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}

.pageChange {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 12px;
}
.currentPage {
    font-size: 20px;
    padding-bottom: 6px;
    margin: 0 10px;
}

.pageNav {
    cursor: pointer;
    transition: all 300ms ease;
}
.pageNav:hover {
    color: var(--movie-color);
}